/* You can add global styles to this file, and also import other style files */
// regular style toast
@import "~ngx-toastr/toastr";

:root {
  --pink: #f5bbb9;
  --blue: #2c2e54;
  --white: #f2f0f0;
}

body {
  font-family: "Alata", sans-serif;
  background-color: var(--white);
}
